# Application settings.
app:
  # Whether to enable debug information.
  debug: false
  # Path to log file, if any.
  log:

# Template settings.
template:
  # Path to search for templates before this package's templates.
  path:
  # Filename of template that defines a page. Default: page.html.twig
  page:
  # Name of the site for the template.
  site:
  # Menu for the site in the template.
  menu:
